/* src/index.css */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #7a0000, #000000);
  color: #ffffff;
  overflow: hidden; /* Başlanğıcda skrolu bağlayırıq */
}

/* 100% hündürlüyü təmin etmək üçün əlavə edildi */
#root, body, html {
  height: 100%;
}